/* google font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: normal;

  /* background: url(./assets/bg.png) center no-repeat;
  border: 1px solid red; */
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.button {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 60px;

  border: none;
  border-radius: 12px;
  background-color: #fea301;
}
/* navbar style start here */
.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  margin: 20px auto;

  /* border: 1px solid green; */
}

.nav-logo {
  gap: 11px;
  align-items: center;
}

.nav-txt {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}

.nav-menu {
  gap: 32px;
}

.nav-link a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.home {
  color: #fea301;
}

.about {
  color: #01acfd;
}

.facilities {
  color: #05d4df;
}

.admission {
  color: #5d58ef;
}

.nav-link a:hover {
  color: #111;
  text-decoration: underline;
}

.nav-btn {
  font-weight: 600;
}

.nav-btn:hover {
  background-color: #111;
}

.nav-icon {
  color: #111;
  font-size: 1.875rem;
}

/* banner style start here */
.banner-container {
  align-items: center;
  gap: 50px;
  padding: 0 140px;
}

.banner-left {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.banner-title {
  max-width: 640px;
  color: #111;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
}

.txt-orange {
  color: #fea301;
}

.txt-blue {
  color: #01acfd;
}

.banner-description {
  color: #111;
  font-size: 1.25rem;
  font-weight: 400;
}

.banner-btn {
  background-color: #111;
}

.banner-btn:hover {
  background-color: #fea301;
}
/* responsive  for iPhone 13 and iphone 14 */
@media screen and (max-width: 576px) {
  .nav-bar {
    margin: 0 auto;
    padding: 12px 16px;
    border: 0.5px solid #fea301;
  }

  .nav-menu,
  .nav-btn,
  .nav-txt {
    display: none;
  }

  .nav-img {
    max-width: 46px;
  }

  .nav-icon {
    display: block;
  }
}
