/* google font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f7f7f7;

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

main section {
  padding: 60px 140px;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.button {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 60px;

  border: none;
  border-radius: 12px;
  background-color: #fea301;
}

.section-title {
  color: #000;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 57.5px;
}
/* navbar style start here */
.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  margin: 20px auto;
}

.nav-logo {
  gap: 11px;
  align-items: center;
}

.nav-txt {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}

.nav-txt:hover {
  color: #fea301;
}

.nav-menu {
  gap: 32px;
}

.nav-link a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.home {
  color: #fea301;
}

.about {
  color: #01acfd;
}

.facilities {
  color: #05d4df;
}

.admission {
  color: #5d58ef;
}

.nav-link a:hover {
  color: #111;
  text-decoration: underline;
}

.nav-btn {
  font-weight: 600;
}

.nav-btn:hover {
  background-color: #111;
}

.nav-icon {
  color: #111;
  font-size: 1.875rem;
}

/* marquee style start here */
.marquee-enroll {
  color: #f0aa00;
  font-size: 1.5rem;
  padding: 0 140px;
}

/* banner style start here */
.banner-container {
  align-items: center;
  gap: 50px;
  padding: 0 140px;
}

.banner-left {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.banner-title {
  max-width: 640px;
  color: #111;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
}

.txt-orange {
  color: #fea301;
}

.txt-blue {
  color: #01acfd;
}

.banner-description {
  color: #111;
  font-size: 1.25rem;
  font-weight: 400;
}

.banner-btn {
  background-color: #111;
}

.banner-btn:hover {
  background-color: #fea301;
}

/* standard curriculum style start here */
.curr-container {
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: url(./assets/bg.png) 50% / cover no-repeat;
}

.card-container {
  gap: 28.29px;
}

.card-container div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 32px;
  flex: 1;

  text-align: center;
  padding: 52px 40px;

  border-radius: 18.864px;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-kinder {
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.card-elementary {
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.card-middle {
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.card-container div h3 {
  color: #202020;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30.654px;
}

.card-container div p {
  font-family: "Raleway", serif;
  color: #808080;
  font-size: 0.943rem;
  font-weight: 500;
  line-height: 28.296px;
}

.card-container div a {
  font-size: 15.091px;
  font-weight: 700;
  line-height: 28.296px;
}

.card-container div a:hover {
  color: #111;
  text-decoration: underline;
}

.card-kinder a {
  color: #64c8ff;
}

.card-elementary a {
  color: #f0aa00;
}

.card-middle {
  color: #8700ff;
}

.curr-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.curr-btn-container a {
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50%;
  background-color: #fea301;

  display: flex;
  justify-content: center;
  align-items: center;
}

.curr-btn-container a:hover {
  background-color: #111;
}

/* our stories style start here */
.stories-container {
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: url(./assets/bg.png) 50% / cover repeat,
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
}

.stories-large,
.stories-small {
  border-radius: 16px;
  background: #fff;
}

.stories-small img {
  border-radius: 16px 16px 0px 0px;
}

.stories-large img {
  border-radius: 16px 16px 0px 0px;
}

.stories-large-content,
.stories-large {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.stories-large-content {
  padding: 35px 38px;
}

.stories-large h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38.347px;

  /* max-width: 402px; */
}

.stories-large p {
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28.761px;
}

.stories-small {
  display: flex;
  flex-direction: column;
}

.stories-small h4 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28.761px;

  padding: 33px 38px;
}

/* #small-5,
#small-6 {
  display: none;
} */

.card-hide {
  display: none;
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stories-large {
  grid-row: span 2;
  grid-column: span 2;
}
/* footer style start here */
footer {
  /* flex: 1; */
  padding: 123px 140px;

  color: #fff;
  background-color: #01acfd;
}

.footer-left {
  width: 50%;
}

.footer-middle,
.footer-right {
  width: 25%;
}

.footer-menu,
.footer-left,
.footer-middle,
.footer-right {
  flex-direction: column;
  gap: 32px;
}

.footer-left {
  gap: 35.68px;
}

.logo-name h2 {
  font-size: 2.634rem;
  font-weight: 700;
  line-height: 39.5px;

  max-width: 206.109px;
}

.footer-left p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  max-width: 399px;
}

.footer-middle h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-menu {
  gap: 20px;
}

.footer-link a {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.footer-link a:hover {
  color: #111;
  text-decoration: underline;
}

.footer-right h3 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 26px;
}
.logo-name,
.footer-social {
  gap: 10px;
}

.footer-social a:hover {
  /* filter: grayscale(100%); */
  filter: drop-shadow(2px 2px 2px rgb(243, 240, 240));
}
/* responsive  for iPhone 13 and iphone 14 */
@media screen and (max-width: 576px) {
  .marquee-enroll {
    display: none;
  }
  .nav-bar {
    margin: 0 auto;
    padding: 12px 16px;
    border: 0.5px solid #fea301;
  }

  .nav-menu,
  .nav-btn,
  .nav-txt {
    display: none;
  }

  .nav-img {
    max-width: 46px;
  }

  .nav-icon {
    display: block;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px 0;
  }

  .banner-img {
    max-width: 337px;
  }

  .banner-left {
    max-width: 357px;
    gap: 18px;
    text-align: center;
    align-items: center;
  }

  .banner-title {
    font-size: 2rem;
    line-height: normal;
  }

  .banner-description {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .banner-btn {
    font-size: 1rem;
    padding: 6px 24px;
    border-radius: 8px;
  }

  .curr-container {
    padding: 40px 0 20px 0;
    gap: 20px;
  }

  .curr-title {
    font-size: 1.625rem;
    line-height: normal;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .card-container div {
    max-width: 92%;
    gap: 22px;
    padding: 36px 28px;
  }

  .card-container div img {
    max-width: 92.595px;
  }

  .card-container div h3 {
    font-size: 1.016rem;
    line-height: 20.754px;
  }

  .card-container div p {
    font-size: 0.639rem;
    line-height: 19.158px;
  }

  .card-container div a {
    font-size: 0.639rem;
    line-height: 19.158px;
  }

  .curr-btn-container {
    display: none;
  }

  /* stories here */
  .stories-container {
    padding: 40px 16px;
    gap: 20px;
  }

  .stories-large {
    display: none;
  }

  .stories-title {
    font-size: 1.625rem;
  }

  .stories-small img {
    max-width: 100%;
  }

  .stories-small h4 {
    font-size: 0.571rem;
    padding: 17px 23px;
  }

  .stories-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .card-hide {
    display: block;
  }

  .footer {
    padding: 60px 20px;

    flex-direction: column;
    gap: 32px;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
  }

  .footer-left {
    gap: 24px;
  }

  .footer-middle {
    gap: 28px;
  }

  .footer-right {
    gap: 37;
  }

  .logo-name h2 {
    font-size: 2.233rem;
  }

  .footer-left p {
    font-size: 1rem;
  }

  .footer-middle h3 {
    font-size: 1.272rem;
    font-weight: 600;
  }

  .footer-menu {
    gap: 17px;
  }

  .footer-link a {
    font-size: 1.06rem;
  }

  .footer-right h3 {
    font-size: 1.375rem;
    line-height: 22px;
  }

  .footer-social {
    gap: 8px;
  }

  .footer-social img {
    max-width: 33.913px;
  }
}
